/* ----------------GENERAL---------------- */
body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to left top, #0d6efd, #3d4eb5, #383374, #251c3a, #030105);
}

/* ----------------UTILITY---------------- */
.debug{
    background-color: rgba(255, 0, 0, .25);
    border: 1px solid black;
}
